/* ----- Fonts ----- */

@font-face {
  font-family: 'Museo Sans 100';
  src: url('../fonts/MuseoSansCyrl-100.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-100.svg#Natasha') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans 300';
  src: url('../fonts/MuseoSansCyrl-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-300.svg#Natasha') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans 700';
  src: url('../fonts/MuseoSansCyrl-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-700.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-700.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-700.svg#Natasha') format('svg'); /* Legacy iOS */
}

/* ----- Specification ----- */

body {
	padding: 0;
	margin: 0;
	font-family: 'Museo Sans 300', sans-serif;
	color: #75787B;
	font-size: 16px;
	letter-spacing: 0.02em;
}

div,
p,
a,
span {
	box-sizing: border-box;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0.01em;
	font-family: 'Museo Sans 700', sans-serif;
	color: #35435a;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
}

h1 {
	font-size: 58px;
}

h2 {
	font-size: 39px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 28px;
}

h5 {
	font-size: 21px;
}

h6 {
	font-size: 13px;
}

a,
a:hover,
a:active  {
	transition: all 0.4s ease;
	text-decoration: none;
}

input:focus,
input,
input:hover,
input:active,
button:focus,
button,
button:hover,
button:active {
	outline: none;
}

.btn:focus {
	box-shadow: none;
}

.btn {
	font-family: 'Museo Sans 700', sans-serif;
	border-radius: 0;
	display: block;
	background: #2c62a3;
	border: 1px solid transparent;
	color: #fff;
	text-align: center;
	width: 200px;
	border-radius: 5px;
}

.btn:hover {
	color: #2c62a3;
	border: 1px solid #2c62a3;
	background: transparent;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

.btn:active {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
}

.no-padding {
	padding: 0;
}

.btn__phone {

	margin-right: 6px;
    transform: rotate(90deg);
}

.phone-icon {
	margin-right: 4px;
}

.callback__btn {
	margin-left: auto;
}
/* ----- Сollective Sections ----- */

/* ----- Header ----- */

.header {
	position: fixed;
	width: 100%;
	letter-spacing: 0;
	background: rgba(0, 0, 0, 0.80);
	z-index: 1000;
}

.logo {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	transition: all 0.5s ease;
	color: #fff;
	font-size: 40px;
}

.logo:hover {
	color: #fff;
	text-shadow: 2px 2px 5px #000;
	transform: scale(1.05, 1.1);
}

.logo:active {
	color: #aeaeae;
}

.mobile-menu {
	display: none;
	width: 22px;
	margin-left: auto;
}

.menu {
	width: 100%;
}

.menu__item {
	position: relative;
	color: #fff;
	cursor: pointer;
	width: 100%;
	max-width: 160px;
	padding: 20px 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	z-index: 50;
	transition: all 0.5s;
}

.menu__link {
	font-family: 'Museo Sans 700', sans-serif;
	font-size: 15px;
	color: #3f4b60;
	padding-bottom: 2px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 auto;
}

.menu__link:hover {
	color: #fff;
	transform: scale(1.05, 1.2);
}

.menu__category {
	display: none;
	position: absolute;
	width: 100%;
	background: rgba(0, 0, 0, 0.65);
	top: 0;
	left: 0;
	margin-top: 64px;
	z-index: 51;
}

.menu__subitem {
	padding: 10px;
	transition: all 0.5s;
}

.menu__link_category {
	text-transform: none;
	display: block;
}

.menu__item:hover .menu__category {
	display: block;
}

.menu__link:active {
	transition: all 0.1s;
}

.menu__item:hover,
.menu__subitem:hover {
	background: rgba(66, 66, 66, 0.70);
	transition: all 0.3s;
}

.header__btn {
	padding: 7px 0 8px;
	font-size: 13px;
}

.nav__btn-icon {
	color: #fff;
	font-size: 23px;
}


/* ----- Offer ----- */

.offer {
	padding: 100px 0 50px;
	background: #f7f9fb;
	border: 1px solid #cfd0d0;
	text-align: center;
}

.offer__title {
	text-transform: none;
}

.offer__text {
    font-size: 30px;
    max-width: 900px;
    margin: 15px auto 0;
    line-height: 1.3em;
}

/* ----- Slider Styles ----- */
.slider {
	position: relative;
}

.slider__item {
	height: 500px;
}

.slider__item_1 {
	background: url(../img/home/slide1.jpg) no-repeat center top 60%/cover;
}

.slider__item_2 {
	background: url(../img/home/slide2.jpg) no-repeat center top 20%/cover;
}

.slider__item_3 {
	background: url(../img/home/slide3.jpg) no-repeat center center/cover;
}

.slider-arrow-style {
	position: absolute;
    background: transparent;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    border: none;
    width: 45px;
    text-align: center;
    height: 45px;
    border-radius: 50%;
    transition: all 0.2s ease;
    background: rgba(0, 0, 0, 0.15);
}

.slider-arrow-style:hover {
	background: rgba(0, 0, 0, 0.25);
	border-radius: 50%;
}
.slider-arrow-style:active {
	background: rgba(0, 0, 0, 0.15);
	border-radius: 50%;
}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}

.slick-dots {
	bottom: 25px;
}

.prev {
	bottom: 10%;
	padding-left: 3px;
	text-align: center;
	left: 25px;
}

.next {
	bottom: 10%;
	padding-right: 3px;
	text-align: center;
	right: 21px;
}

/* ----- Consultation ----- */

.consultation {
	padding: 30px;
	background: #f2f2f5;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

/* ----- Rxcellences ----- */

.excellences {
	padding: 70px 0 80px;
	text-align: center;
	background: no-repeat fixed center top / cover;
	background-image: url(../img/home/excelences/excelences__bg.jpg);
}

.excellences__title {
	margin-bottom: 70px;
	text-transform: uppercase;
	color: #fff;
}

.excellence {
	width: 95%;
	margin: 0 auto;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.2);
    padding: 40px 15px;
    background: rgba(255, 255, 255, 0.95);
}


.excellence:hover {
    box-shadow: 0 0 55px 0px rgba(0, 0, 0, 0.35);
}

.excellence__icon {
	font-size: 45px;
	color: #25282A ;
	margin-bottom: 30px;
}

.excellence__title {
	margin-bottom: 20px;
	text-transform: none;
}

.excellence__text {
	margin-bottom: 10px;
	color: #000;
}

		/*excellence brands*/

.excellence_brands {
	width: 100%;
	margin-top: 50px;
	height: auto;
}

.excellence__brands {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding: 0 20px;
}

.excellence__brand {
	width: 100%;
	max-width: 285px;
	padding: 20px;
	height: 100%;
}
/* ----- Projects ----- */

.projects {
	padding: 60px 0;
	background: #f2f2f5;
}

.projects__title {
	margin-bottom: 60px;
}
.project {
	width: 100%;
	max-width: 500px;
	margin-bottom: 30px;
	transition: all 0.3s ease;
}

.project:hover {
	transform: scale(1.05, 1.05);
}

.project__link {
	display: block;
}

.project__img {
	width: 100%;
}

.more-projects {
	display: block;
	width: 280px;
	margin: 15px auto 0;
}

/* ----- Footer ----- */

.footer {
	padding: 30px 0;
	background: #1f2531;
	font-family: 'Museo Sans 400', sans-serif;
	font-size: 13px;
	color: #fff;
	letter-spacing: 0;
}

.footer__work-time {
	display: block;
	line-height: 1.5em;
    width: 130px;
    font-size: 19px;
    margin: 0 auto 10px;
}

.footer__text_address {
	line-height: 1.5em;
	display: block;
    width: 130px;
    margin: 0 auto;
}

.footer__phones {
	margin-left: 65px;
	margin-bottom: 20px;
}
.footer__phone {
	font-family: 'Museo Sans 700', sans-serif;
	display: block;
	color: #fff;
	border: 1px solid transparent;
	padding: 3px;
	width: 150px;
	margin: 0 auto;
	text-align: center;
	border-radius: 5px;
}

.footer__phone:hover {
	color: #fff;
	border: 1px solid;
}

.footer__phone:active {
	opacity: 0.85;
}

	/*Modal Window*/

.callback-block {
	display: none;
    position: relative;
    height: 100%;
    width: 100%;
}

.callback {
	display: none;
	position: fixed;
	width: 412px;
	padding: 50px;
	left: 50%;
	top: 50%;
	background: #fff;
	transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    z-index: 100;
    text-align: center;
}

.callback__title {
	text-align: center;
	font-size: 21px;
	margin-bottom: 15px;
}

.callback__input {
	display: block;
	margin: 5px auto 15px;
	width: 308px;
	height: 40px;
	font-family: 'Museo Sans 300', sans-serif;
	color: #404048;
	background: transparent;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.60);
	padding: 15px 0;
}

.callback__text {
	font-size: 13px;
	text-align: center;
	width: 308px;
	color: #212121;
	display: block;
	margin: 0 auto 15px;
}

.callback-block__btn {
	display: block;
	padding: 7px 0 8px;
	margin: 30px auto 0;
	font-size: 13px;
	width: 308px;
}

.callback-block__bg {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99;
	cursor: pointer;
}

.callback-active {
	display: block;
}