/* Media Queries */

/* 992 - 1200 px */
@media screen and (max-width: 1200px) {
}

/* 768 - 992 px */
@media screen and (max-width: 992px) {
	.logo__img {
		width: 100%;
		max-width: 220px;
		max-height: 29px;
	}
	.logo {
		max-width: 220px;
		margin: 0 auto;
	}
	.mobile-menu {
		display: block;
		padding: 12px 0;
	}
	.nav {
		display: none;
		margin-top: 20px;
	}
	.menu__item {
		width: 100%;
		padding: 0;
		justify-content: center;

	}
	.nav > ul {
		-ms-align-items: flex-start;
		align-items: flex-start;
		justify-content: space-between;
	}
	.nav > ul li {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}
	.nav > ul li > ul {
		display: flex;
		position: static;
		background: none;
		margin: 10px 0 0 0;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.nav > ul li > ul li {
		padding: 5px 0;
	}

	.nav > ul li:hover {
		background: none;
		text-align: center;
	}
	.consultation {
		padding: 40px 0;
	}
	.callback__btn {
		margin: 20px auto 0;
		font-size: 13px;
	}
	.slider__item {
		height: 300px;
	}
	.excellences {
		padding-bottom: 40px;
	}
	.excellence {
		width: 100%;
	    height: inherit;
	    padding: 30px 15px;
		margin-bottom: 50px;
	}
	.excellence__icon {
		margin-bottom: 10px;
	}
}

/* 576 - 768 px */
@media screen and (max-width: 768px) {
	
}

/* 320 - 576 px */
@media screen and (max-width: 576px) {
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 33px;
	}
	h2 {
		font-size: 25px;
	}
	h3 {
		font-size: 22px;
	}
	h4 {
	font-size: 19px;
	}
	h5 {
		font-size: 17px;
	}
	.nav > ul li {
		padding: 10px 5px;
		margin: 0 auto;
	}
	.nav > ul {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.offer__text {
		font-size: 21px;
		margin-left: 0;
	}
	.slider__item {
		height: 200px;
	}
	.slider__item_1 {
		background: url(../img/home/slide1-mobile.jpg) no-repeat center top 60%/cover;
	}
	.slider__item_2 {
		background: url(../img/home/slide2-mobile.jpg) no-repeat center top 20%/cover;
	}
	.slider__item_3 {
		background: url(../img/home/slide3-mobile.jpg) no-repeat center center/cover;
	}
	.excellences {
		padding-bottom: 30px;
	}
	.footer__phones {
		margin: 25px 0;
	}
	.footer__text_address {
		margin-bottom: 15px;
	}

}